*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2b2b2d;
    font-family: 'Nunito Sans', sans-serif;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.header{
   width: 100%;
   height: 60vh;
   position: relative;
   color: #fff;
}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 30px;
    color: #fff;
}

.logo img{
}

.menu .icon {
    display: none;
}

/*
@media screen and (max-width: 600px) {
  .menu a:not(:first-child) {display: none;}
  .men a.icon {
    float: right;
    display: block;
  }
}
*/

.menu ul{
    padding:25px 15px;
    text-decoration: none;
    border:1px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}

a:visited{
    color: white;
}

.menu ul li{
    margin: 0;
    padding:15px 20px;
    text-decoration: none;
    border:1px;
    font-weight: 600;

}
.menu ul li a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.menu ul li a:hover{
    color: #3d94ca;
}

.main-content, .blog-post{
        width: 80%;
        height: 70%;
        position: absolute;
        text-align: center;
        top: 5%;
        left: 150px;
        color: #fff;
}

.blog-post{
        width: 80%;
        height: 70%;
        position: absolute;
        text-align: left;
        top: 5%;
        left: 150px;
        color: #fff;
        padding:10px 250px;
}


.blog-post h3{
    padding:10px 0px;
    font-size: 25px;
    color: #3d94ca;
}

.blog-post h5{
    padding:10px 0px;
    color: #bbb;
}

.main-content p{
    color: #ffffff;
    position: center;
    text-align: left;
    top: 5%;
    left: 150px;
    color: #fff;
    padding:10px 250px;
}
.main-content h1, h2, h3{
    color: #3d94ca;
}

.socials p{
    text-align: center;
}

.blog-post img{
    margin-left: 100px;
    position: center;
    width: 30%;
    height: auto;
}

.blog-post p{
    color: #fff;
}

.blog-post card{
    padding:20px 0px;
    text-align: left;
    color: #808080;
}

.blog-post a:link{
 color: #fff;
}

.blog-post a:hover{
 color: #3d94ca;
}

@media screen and (max-height: 600px) {
  .menu {padding-top: 15px;}
  .menu a {font-size: 18px;}
}



